<%- include("./partials/header") -%>

<style>
    input {
        background:transparent;
  border: none;
  }
  </style>
  <br>
  <h1>
    Total Number of Users Registered:<%=users.length%>
  </h1>
  <hr>
    <div class="details">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">NAME</th>
              <th scope="col">CNIC</th>
              <th scope="col">PHONE NUMBER</th>
              <th scope="col">EMAIL</th>
              <th scope="col" id="print">DETAIL</th>
            </tr>
          </thead>
          <tbody>
            <% users.forEach(function(user){ %>
              <tr>
                  <th scope="row">
                   <input type="text"  value=" <%= user.name %>" name="id" style="width: 5rem; border: 0;" readonly="true">
                  </th>
                  <th scope="row" >
                  <input type="text"  value="  <%= user.cnic %>"style="width: 5rem; border: 0;" readonly="true" >
                  </th>
                  <td >
                   <input type="text" value=" <%= user.phone %>" name="class"style="width: 5rem; border: 0;" readonly="true">
                  </td>
                  <td>
                   <input type="text"  value=" <%= user.email %>"style="width: 10rem; border: 0;" readonly="true"> 
                  </td>
                  <td>
                    <a href="/userHome/<%=user.email%>" id="print">Registered Cars</a>
                  </td>
              </tr>
  
              <% }) %>
  
          </tbody>
        </table>
      </div>
      <button id="print" onclick="window.print()" class="btn btn-lg btn-dark my-5">PRINT <i
        class="fa-solid fa-print fa-lg"></i></button>
    </div>